@use "./variables" as *;
body {
  position: relative;
}
section {
  min-height: 100vh;
  position: relative;
}
.contentDivider {
  position: relative;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

h1,
h2 {
  font-size: 3.5rem;
  font-weight: 900;
  max-width: 17rem;
  margin: 0 auto;
  text-align: center;
}

h2 {
  text-align: center;
}

hgroup {
  position: relative;
  p {
    position: absolute;
    font-family: $fontSecondary;
    font-weight: 300;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 1rem;
  }
}
br {
  display: block;
  margin: 0.5rem 0;
}

em {
  color: $colorPrimary;
  font-style: normal;
  font-weight: 600;
}

@media (min-width: 775px) {
  section {
    display: flex;
  }
  .contentDivider {
    width: 50%;
  }
  h1,
  h2 {
    font-size: 4rem;
  }
  hgroup p {
    font-size: 1rem;
  }
}

.imgContainer,
li img {
  max-width: 10rem;
}
