@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Raleway:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 125%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  font-size: 125%;
}

html {
  font-family: "Raleway", sans-serif;
}

section {
  min-height: 100vh;
  position: relative;
}

.contentDivider {
  position: relative;
  height: 100vh;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

h1,
h2 {
  font-size: 3.5rem;
  font-weight: 900;
  max-width: 17rem;
  margin: 0 auto;
  text-align: center;
}

h2 {
  text-align: center;
}

hgroup {
  position: relative;
}
hgroup p {
  position: absolute;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  font-size: 1rem;
}

br {
  display: block;
  margin: 0.5rem 0;
}

em {
  color: #F7484E;
  font-style: normal;
  font-weight: 600;
}

@media (min-width: 1200px) {
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contentDivider {
    width: 50%;
  }
  h1, h2 {
    font-size: 4rem;
  }
  hgroup p {
    font-size: 1rem;
  }
}
.imgContainer,
li img {
  max-width: 10rem;
}

header {
  position: absolute;
  width: 100%;
  z-index: 10;
}
header .wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
}
header .imgContainer {
  width: 5rem;
}
header i {
  margin-right: 0.75rem;
  color: #848383;
  border: 1px solid #848383;
  padding: 0.5rem;
  border-radius: 100%;
  font-size: 0.75rem;
}

@media (min-width: 1200px) {
  header img {
    content: url(../assets/logo1.png);
  }
  header .wrapper {
    width: 92.5%;
  }
}
.intro .contentDivider h1 {
  color: #000;
}
.intro .contentDivider hgroup p {
  color: #F7484E;
  font-size: 1.75rem;
  min-width: 13rem;
}
.intro .contentDivider:first-of-type {
  background-color: #494648;
}
.intro .contentDivider:first-of-type ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.intro .contentDivider:first-of-type li {
  color: #a4a4a4;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.intro .imgContainer {
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  z-index: 10;
  display: none;
}
.intro .imgContainer .animalBackdrop {
  border-radius: 100%;
  height: 14rem;
  width: 14rem;
  -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
}
.intro .imgContainer .animalCutout {
  position: absolute;
}

.intro .activeImage {
  display: block;
}
.intro .foxImages .animalCutout {
  bottom: 0;
  right: 0;
  width: 8rem;
}
.intro .birdImages .animalCutout {
  top: 40%;
  width: 10rem;
  left: 35%;
}
.intro .turtleImages .animalCutout {
  top: 40%;
  width: 10rem;
  right: 0;
}

.intro .contentDivider:last-of-type .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.intro .contentDivider:last-of-type .wrapper h3 {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.intro .contentDivider:last-of-type .wrapper hr {
  width: 3rem;
  margin: 0;
  margin-left: 1rem;
}
.intro .contentDivider:last-of-type .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro .contentDivider:last-of-type .wrapper li {
  width: 2rem;
  height: 2rem;
  position: relative;
  margin: 1rem 0;
  border: 1px solid gray;
  border-radius: 100%;
  background-color: #a4a4a4;
}
.intro .contentDivider:last-of-type .wrapper li img {
  border-radius: 100%;
  height: 100%;
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
  display: none;
}
.intro .contentDivider:last-of-type .wrapper li p {
  position: absolute;
  z-index: 10;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.intro .contentDivider:last-of-type .wrapper .activeSelection {
  width: 3rem;
  height: 3rem;
}
.intro .contentDivider:last-of-type .wrapper .activeSelection p {
  font-size: 1.25rem;
}
.intro .contentDivider:last-of-type .wrapper .activeSelection img {
  display: block;
}

@media (min-width: 1200px) {
  .intro .contentDivider:first-of-type ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  h1 {
    margin: 0;
    text-align: left;
  }
  .intro hgroup p {
    left: auto;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .intro .imgContainer {
    bottom: 60%;
    -webkit-transform: translate(-85%, 50%);
            transform: translate(-85%, 50%);
  }
  .intro .imgContainer .animalBackdrop {
    width: 17rem;
    height: 17rem;
  }
  .intro .birdImages .animalCutout {
    left: 80%;
  }
}
.history .contentDivider:first-of-type {
  background-color: #F7484E;
}
.history h2 {
  color: #FFF;
}
.history .imgContainer {
  position: absolute;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  border-radius: 100%;
  top: 45%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.history .imgContainer img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  -webkit-transform: scale(2.3);
          transform: scale(2.3);
  -o-object-position: -2.3rem 1.8rem;
     object-position: -2.3rem 1.8rem;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.history h3 {
  text-transform: capitalize;
  font-size: 2.25rem;
  margin: 0;
  padding-top: 3rem;
}
.history article p {
  font-size: 0.85rem;
  color: #a4a4a4;
}
.history h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.history h4 span {
  color: #F7484E;
  padding-right: 0.5rem;
}

@media (min-width: 1200px) {
  .history .imgContainer {
    top: 5%;
  }
  .historyText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .historyText article {
    width: calc(50% - 1rem);
  }
  .history h3 {
    padding-top: 8rem;
  }
}
.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.work h2 {
  color: #a4a4a4;
}
.work .workShowcase {
  position: relative;
  display: none;
}
.work .workShowcase hgroup {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #FFF;
}
.work .workShowcase h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.work .workShowcase hgroup p {
  position: relative;
  font-size: 1rem;
}
.work .activeShowcase {
  display: block;
  height: 100%;
}
.work .activeShowcase .imgContainer {
  min-width: 100%;
  height: 33.3333333333%;
}
.work .activeShowcase img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.work ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: italic;
  font-size: 0.8rem;
}
.work ul li {
  margin: 1rem 0.5rem;
}
.work ul .activeWork {
  color: #F7484E;
  font-weight: 700;
}

@media (min-width: 1200px) {
  .work {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .work .workShowcase hgroup {
    left: 100%;
    width: 15rem;
    color: #F7484E;
  }
}
.services hgroup p {
  min-width: 8rem;
}
.services .contentDivider:first-of-type {
  background-color: #494648;
}
.services .contentDivider:first-of-type ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #a4a4a4;
  font-size: 0.85rem;
  font-style: italic;
}
.services .contentDivider:first-of-type li {
  margin-top: 0.75rem;
}
.services .contentDivider:first-of-type .activeService {
  color: #F7484E;
  font-weight: 600;
}
.services hgroup p {
  color: #FFF;
}
.services .serviceInfo {
  display: none;
}
.services .serviceInfo .imgContainer {
  width: 5rem;
  height: 5rem;
  margin: auto;
}
.services .serviceInfo img {
  border-radius: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.services .serviceInfo article {
  text-align: center;
}
.services .serviceInfo h3 {
  margin-top: 0;
  font-size: 2.25rem;
}
.services .serviceInfo p {
  color: #a4a4a4;
  font-size: 0.85rem;
}
.services .serviceInfo span {
  color: #000;
  margin-right: 0.5rem;
}
.services .serviceInfo li {
  color: #F7484E;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 0.85rem;
  margin: 0.5rem 0;
}
.services .activeServiceInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1200px) {
  .services .serviceInfo .imgContainer {
    margin: 0;
  }
  .services .serviceInfo article {
    width: 75%;
    text-align: left;
  }
  .services .activeServiceInfo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.team .contentDivider:first-of-type .imgContainer {
  margin: 1rem auto;
  max-width: 5rem;
}
.team .contentDivider:first-of-type hgroup p {
  color: #000;
}
.team .contentDivider:first-of-type p {
  font-size: 0.9rem;
  text-align: center;
  color: #a4a4a4;
}
.team .contentDivider:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.team h2 {
  color: #a4a4a4;
}
.team .contentDivider:last-of-type .imgContainer {
  position: relative;
  width: 50%;
  min-width: 50%;
  height: 50%;
}
.team .contentDivider:last-of-type .imgContainer img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team .contentDivider:last-of-type .imgContainer h3,
.team .contentDivider:last-of-type .imgContainer p,
.team .contentDivider:last-of-type .imgContainer ul {
  position: absolute;
}

@media (min-width: 1200px) {
  .team {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}